@font-face {
    font-family: 'SpecialGothicExpandedOne';
    src: url('/fonts/SpecialGothicExpandedOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'BeVietnamPro';
    src: url('/fonts/BeVietnamPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }